/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .cards-container {
     flex: 1 1 90%;
   }

  .container {
     padding-left: 50px;
     padding-right: 50px;
   }

  .container2 {
     padding-left: 20px;
     padding-right: 20px;
   }

  .expandable {
     padding: 5px;
     margin-right: 5px;
     flex: 1 1 0;
   }
   .expandable.expanded {
     flex: 1 1 90%;
   }

  h1 {
     font-family: monospace;
   }

  h3 {
     font-family: monospace;
   }

  img {
     padding-bottom: 20px;
   }


  .search-bar {
     width: 500px !important;
   }

  .outer {
     display: flex;
   }

  .table-cards {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 20px;
     grid-row-gap: 20px;
     grid-template-rows: auto;
   }

  .table-card {
     display: flex;
     flex-direction: column;
     grid-column-start: auto;
     grid-column-end: span 1;
     min-height: 200px;
     border: 1px solid #ddd;
     text-align: center;
     background-color: #e6e6e6 ;
   }
   .table-card div {
       padding: 0px 10px;
       flex: 0 1 auto;
   }

  .table-card .content {
       background-color: #eee;
       flex: 1 1 0;
   }

  .no-grid-warning {
     position: fixed;
     width: 100vw;
     height: 100vh;
     z-index: 10000;
     color: red;
     left:0;
     top:0;
     background-color: #fff;
     text-align:center;
     padding: 20px;
   }
